$contentBackground: #280E42;
$headerBackground: url(../img/m-h-night.jpg);
$sectionBackground: #140325;
$buttonColor: #FBB608;
$firstHeaderColor: white;
$textFont: 'Fresca', sans-serif;
$gradient1:#FBB608;
$gradient2: #E80743;