$contentBackground: #140325;
$headerBackground: url(../img/m-h-day.jpg);
$sectionBackground: white;
$buttonColor: #5B9C1B;
$firstHeaderColor: #140325;
$textFont: 'Hind', sans-serif;
$gradient1: #5B9C1B;
$gradient2: #078EE8;